/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center; /* Center text inside the container */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Match List Styles */
#matchList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#matchList li {
  background-color: #333;
  border-radius: 8px;
  width: 200px;
  transition: transform 0.2s;
  text-align: center; /* Center text and image */
}

#matchList img {
  width: 100%; /* Make image responsive */
  object-fit: cover;
}

#matchList h3 {
  margin: 10px 0 0; /* Add some margin to the title */
  font-size: 0.9em; /* Adjust font size as needed */
}

#matchList li:hover {
  transform: scale(1.05);
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
  background-color: #222;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Video Player Styles */
.video-js {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
#matchList img {
  width: 100%; /* Make image responsive */
  border-radius: 8px; /* Round the corners of the image */
}
.video-info {
  margin-top: 10px;
  font-size: 1.2em;
}
